<!-- Loading bar -->
<oga-loading-bar></oga-loading-bar>

<!-- Navigation -->
<ng-container *ngIf="isScreenSmall">
    <oga-vertical-navigation
        class="dark print:hidden"
        [mode]="'over'"
        [name]="'mainNavigation'"
        [navigation]="navigation.default"
        [opened]="false"
        style="background-color: #000000 !important"
    >
        <!-- Navigation header hook -->
        <ng-container ogaVerticalNavigationContentHeader>
            <!-- Logo -->
            <div class="flex items-center h-28 pt-6 px-8">
                <!-- Light version -->
                <img
                    class="dark:hidden w-44"
                    src="assets/images/logo/logo-text.png"
                    alt="Logo image"
                />
                <!-- Dark version -->
                <img
                    class="hidden dark:flex w-44"
                    src="assets/images/logo/logo-text-on-dark.png"
                    alt="Logo image"
                />
            </div>
        </ng-container>
    </oga-vertical-navigation>
</ng-container>

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full min-w-0">
    <!-- Header -->
    <div
        class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden"
    >
        <ng-container *ngIf="!isScreenSmall">
            <!-- Logo -->
            <div class="flex items-center mx-2 lg:mr-8">
                <div class="hidden lg:flex">
                    <img
                        class="dark:hidden w-44"
                        src="assets/images/logo/logo-text.png"
                        alt="Logo image"
                    />
                    <img
                        class="hidden dark:flex w-44"
                        src="assets/images/logo/logo-text-on-dark.png"
                        alt="Logo image"
                    />
                </div>
                <img
                    class="flex lg:hidden w-8"
                    src="assets/images/logo/logo.png"
                    alt="Logo image"
                />
            </div>
            <!-- Horizontal navigation -->
            <oga-horizontal-navigation
                class="mr-2"
                [name]="'mainNavigation'"
                [navigation]="navigation.horizontal"
            ></oga-horizontal-navigation>
        </ng-container>
        <!-- Navigation toggle button -->
        <ng-container *ngIf="isScreenSmall">
            <button
                mat-icon-button
                (click)="toggleNavigation('mainNavigation')"
            >
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
        </ng-container>
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
            <languages></languages>
            <theme></theme>
            <oga-fullscreen class="hidden md:block"></oga-fullscreen>
            <user></user>
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full overflow-auto">
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div
        class="relative flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-card dark:bg-transparent print:hidden"
    >
        <span class="text-xs font-normal mr-1">powered by</span>
        <span class="font-medium text-secondary">
            <span class="font-semibold" style="color: #e51c20">OGA</span> &copy;
            {{ currentYear }}</span
        >
    </div>
</div>
