<div class="flex flex-col w-full">
    <!-- View mode -->
    <ng-container *ngIf="!editMode">
        <!-- Header -->
        <div
            class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
        >
            <!-- Background -->
            <ng-container>
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    src="assets/images/covers/oga_cover2.jpg"
                    alt="Fondo"
                />
            </ng-container>
            <!-- Close button -->
            <div
                class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"
            >
                <a
                    mat-icon-button
                    [matTooltip]="'actions.close' | transloco"
                    [routerLink]="['../']"
                >
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x-mark'"
                    ></mat-icon>
                </a>
            </div>
        </div>

        <!-- Role -->
        <div
            class="relative flex flex-col flex-auto items-center p-6 pt-0 sm:p-12 sm:pt-0"
        >
            <div class="w-full max-w-3xl">
                <!-- Avatar and actions -->
                <div class="flex flex-auto items-end -mt-16">
                    <!-- Avatar -->
                    <div
                        class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card"
                    >
                        <div
                            class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-6xl font-semibold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                        >
                            {{ role.name ? role.name.charAt(0) : "" }}
                        </div>
                    </div>
                    <!-- Actions -->
                    <div class="flex items-center ml-auto mb-1">
                        <button
                            *ogaHasPermission="'base_roles_edit'"
                            mat-stroked-button
                            (click)="toggleEditMode(true)"
                        >
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:pencil-square'"
                            ></mat-icon>
                            <span class="ml-2">{{
                                "actions.edit" | transloco
                            }}</span>
                        </button>
                    </div>
                </div>

                <!-- Name -->
                <div class="mt-4 text-2xl font-semibold truncate">
                    {{ role.name }}
                </div>

                <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                    <!-- Description -->
                    <ng-container *ngIf="role.description">
                        <div class="flex sm:items-center">
                            <mat-icon
                                [svgIcon]="'heroicons_outline:bars-4'"
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{ role.description }}
                            </div>
                        </div>
                    </ng-container>

                    <!-- Description -->
                    <ng-container *ngIf="role.order">
                        <div class="flex sm:items-center">
                            <mat-icon
                                [svgIcon]="
                                    'heroicons_outline:arrow-path-rounded-square'
                                "
                            ></mat-icon>
                            <div class="ml-6 leading-6">
                                {{ role.order }}
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="editMode">
        <!-- Header -->
        <div
            class="relative w-full h-40 sm:h-48 px-8 sm:px-12 bg-accent-100 dark:bg-accent-700"
        >
            <!-- Background -->
            <ng-container>
                <img
                    class="absolute inset-0 object-cover w-full h-full"
                    src="assets/images/covers/oga_cover2.jpg"
                    alt="Fondo"
                />
            </ng-container>
            <!-- Close button -->
            <div
                class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6"
            >
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    [routerLink]="['../']"
                >
                    <mat-icon
                        class="text-white"
                        [svgIcon]="'heroicons_outline:x-mark'"
                    ></mat-icon>
                </a>
            </div>
        </div>

        <!-- Role form -->
        <div
            class="relative flex flex-col flex-auto items-center px-6 sm:px-12"
        >
            <div class="w-full max-w-3xl">
                <form [formGroup]="roleForm">
                    <!-- Avatar -->
                    <div class="flex flex-auto items-end -mt-16">
                        <div
                            class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card"
                        >
                            <!-- Letter -->
                            <div
                                class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-6xl font-semibold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            >
                                {{ role.name ? role.name.charAt(0) : "" }}
                            </div>
                        </div>
                    </div>

                    <!-- Name -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>{{ "role.name" | transloco }}</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:bars-2'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'name'"
                                [placeholder]="'role.name' | transloco"
                                [spellcheck]="false"
                            />
                            <mat-error>
                                {{ "actions.required-field" | transloco }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Description -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>{{
                                "role.description" | transloco
                            }}</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="'heroicons_solid:bars-4'"
                            ></mat-icon>
                            <input
                                matInput
                                [formControlName]="'description'"
                                [placeholder]="'role.description' | transloco"
                                [spellcheck]="false"
                            />
                            <mat-error>
                                {{ "actions.required-field" | transloco }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Order -->
                    <div class="mt-8">
                        <mat-form-field
                            class="w-full"
                            [subscriptSizing]="'dynamic'"
                        >
                            <mat-label>{{
                                "role.order" | transloco
                            }}</mat-label>
                            <mat-icon
                                matPrefix
                                class="hidden sm:flex icon-size-5"
                                [svgIcon]="
                                    'heroicons_solid:arrow-path-rounded-square'
                                "
                            ></mat-icon>
                            <input
                                matInput
                                type="number"
                                [formControlName]="'order'"
                                [placeholder]="'role.order' | transloco"
                                [spellcheck]="false"
                            />
                            <mat-error>
                                {{ "actions.required-field" | transloco }}
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <!-- Actions -->
                    <div
                        class="flex items-center mt-10 -mx-6 sm:-mx-12 py-4 pr-4 pl-1 sm:pr-12 sm:pl-7 border-t bg-gray-50 dark:bg-transparent"
                    >
                        <!-- Delete -->
                        <ng-container *ngIf="role?.id !== 0">
                            <button
                                *ogaHasPermission="'base_roles_delete'"
                                mat-button
                                [color]="'warn'"
                                [matTooltip]="'actions.delete' | transloco"
                                (click)="deleteRole()"
                            >
                                {{ "actions.delete" | transloco }}
                            </button>
                        </ng-container>
                        <!-- Cancel -->
                        <button
                            class="ml-auto"
                            mat-button
                            [matTooltip]="'actions.cancel' | transloco"
                            (click)="
                                role.id !== 0
                                    ? toggleEditMode(false)
                                    : closeDrawer()
                            "
                        >
                            {{ "actions.cancel" | transloco }}
                        </button>
                        <!-- Save -->
                        <button
                            class="ml-2"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="roleForm.invalid"
                            [matTooltip]="'actions.save' | transloco"
                            (click)="saveRole()"
                        >
                            {{ "actions.save" | transloco }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ng-container>
</div>
